*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-content: end;
  height: 534px;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  font-weight: 400;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  min-width: 225px;
  color: #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + ::after {
  opacity: 1;
}

.button {
  height: 34px;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.more-button {
  margin: 2px;
}

.content__details {
  margin-top: -78px;
}

.title {
  line-height: 94%;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: grid;
  height: 298px;
  overflow: auto;
  gap: 30px;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__details {
  height: 100%;
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-content: start;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-thumbnail {
  height: 103px;
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-bottom: 26px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}